snippet func "Define a function" b
function $1($2){
	$0
}
endsnippet
snippet address_jpn "address in Japanese"
466-0827
名古屋市昭和区川名山町128 番地4　杁中住宅１棟33号
endsnippet
snippet address_eng "address in English"
Irinaka Jyutaku #1-33, Kawanayama-cho 128-4, Showa-ku, 
Nagoya, AICHI 4660827, Japan
endsnippet
