snippet casew "case when in R" 
case_when(
	$1~a,
	$2~b,
	TRUE~c
)
endsnippet
snippet pipe "pipe for R" 
%>%
endsnippet
snippet ass "assign for R" 
<-
endsnippet
snippet com "comment on R" 
<!---
	$1
--->
endsnippet
